@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.navbar {
    background-color: teal;
}

.nav-link {
    color: white;
    font-size: 24px;
    font-family: "Roboto Slab", sans-serif;
    margin: 10px;
}

.nav-link:hover {
    color: purple;
}

#logo-sm {
    height: 8rem;
    width: 8rem;
    padding: 10px;
}

.pageTopper {
    background-image: url("images/modern-office-with-view-city.jpg");
    opacity: 75%;
    background-position: 50%;
    color: darkcyan;
    text-shadow: 2px 2px 2px white;
    text-align: center;
    margin-top: 10px;
    font-family: "Roboto Slab", sans-serif;
    padding: 10px;
}

.pageTopper a {
    width: auto;
    display: flex;
    margin: auto;
    color: white;
    background-color: darkblue;
    text-shadow: none;
}

.pageTopper a:hover {
    background-color: purple;
}

.pageMenu .column {
    text-align: center;
    padding: 20px;
    border: 2px solid black;
}

.midHeader {
    text-align: center;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    color: purple;
    font-family: "Roboto Slab", sans-serif;
}

h4 {
    color: darkgray;
    font-weight: 300;
}

.titleHeader {
    font-family: "Roboto Slab", sans-serif;
    color: purple;
}

.card {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-title {
    color: purple;
    font-family: "Roboto Slab", sans-serif;
}

#serviceCards {
    background-color: purple;
    width: auto;
}

#clientPic {
    height: 150px;
}

#Testimonial {
    background-color: teal;
}

#contactPanel {
    background-color: gray;
}

.emailAddress {
    color: purple;
}

.emailAddress:hover {
    color: white;
}

#gritCon {
    color: purple;
    font-family: "Roboto Slab", sans-serif;
    text-align: center;
    margin: 15px;
}

#gritDesc {
    justify-content: space-evenly;
    height: 400px;
}